/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* float left */
.fl{
    float: left;
}

/* float right  */
.fr{
    float: right;
}

a{
    text-decoration: none;
    font-weight: 600;
}