/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* float left */
.fl{
    float: left;
}

/* float right  */
.fr{
    float: right;
}

a{
    text-decoration: none;
    font-weight: 600;
}

.button{
    padding: 8px 20px;
    color: white;
    background-color: rgb(35, 95, 207);
    border: none;
    cursor: pointer;
}

.container{
    width: 80%;
    margin: 0 auto;
}

p{
    font-weight: 600;
}