header{
    width: 100%;
    height: 70px;
}

header li{
    display: inline-block;
    margin-left:45px;
    height: 60px;
    vertical-align: middle;
}
header li:hover{
    border-bottom: 2px solid lightskyblue;
}

/* centratura verticale  */
header li,
header img{
    line-height: 70px;
}

header img{
    /* height: 22px; */
    vertical-align: middle;
    margin-top: 5px;
}

header a{
    vertical-align: super;
}

/* padding contenuto header  */
.header-left-content{
    padding-left: 20px;
}
.header-right-content{
    padding-right: 20px;
}
/* bottone nell'header  */
header button{
    margin: 0 20px 0 40px;
}


.jumbotron{
    height: 750px;
}

.jumbotron h1{
    font-weight:700;
    font-size: 85px;
    padding-top: 100px;
}

#jumbotron-content{
    margin-top: 50px;
}

/* left jumbotron side  */
#jumbotron-left-section{
    width: 470px;
}
#jumbotron-left-section .button{
    margin-top: 30px;
    margin-bottom: 15px;
}
#jumbotron-left-section p:last-of-type{
    font-size: 14   px;
}
.fa-arrow-down{
    font-size: 40px;
    margin-top: 30px;
    
}
/*  */

/* right jumbotron side  */
#jumbotron-right-section{
    width: 900px;
    height: 450px;
}
#jumbotron-right-section>img{
    width: 100%;
    height: 100%;
    margin-left: 80px;
}
/*  */

#plane{
    height: 1000px;
}

#plane h2{
    margin-top: 250px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 50px;
}

/* bottoni del plane  */
#plane input{
    margin-right: 5px;
}
#plane .radio-button{
    margin-right: 20px;
    display: inline-block;
}
/*  */

.fa-arrow-down:active{
    color: #0061ff ;
}


.plane-foot-content{
    height: 230px;
}

.plane-foot-content h3,
.plane-foot-content p,
.plane-foot-content .button{
    margin-top: 30px;
    display: inline-block;
}

.plane-foot-content h4{
    margin-top: 15px;
}

.plane-foot-content h3,
.plane-foot-content p,
.plane-foot-content h4{
    margin-left: 30px;
}

.plane-foot-content .button{
    margin-right: 30px;
    padding: 10px 70px;
}