header{
    width: 100%;
    height: 70px;
}

header li{
    display: inline-block;
    margin-left:45px;
    height: 60px;
    vertical-align: middle;
}
header li:hover{
    border-bottom: 2px solid lightskyblue;
}

/* centratura verticale  */
header li,
header img{
    line-height: 70px;
}

header img{
    /* height: 22px; */
    vertical-align: middle;
    margin-top: 5px;
}

header a{
    vertical-align: super;
}

/* padding contenuto header  */
.header-left-content{
    padding-left: 20px;
}
.header-right-content{
    padding-right: 20px;
}
/* bottone nell'header  */
header button{
    margin: 0 20px 0 40px;
}


.jumbotron{
    height: 750px;
}

.jumbotron h1{
    font-weight:700;
    font-size: 85px;
    padding-top: 100px;
}

#jumbotron-content{
    margin-top: 50px;
}

/* left jumbotron side  */
#jumbotron-left-section{
    width: 470px;
}
#jumbotron-left-section .button{
    margin-top: 30px;
    margin-bottom: 15px;
}
#jumbotron-left-section p:last-of-type{
    font-size: 14   px;
}
.fa-arrow-down{
    font-size: 40px;
    margin-top: 30px;
    
}
/*  */

/* right jumbotron side  */
#jumbotron-right-section{
    width: 900px;
    height: 450px;
}
#jumbotron-right-section>img{
    width: 100%;
    height: 100%;
    margin-left: 80px;
}
/*  */

#plane{
    height: 1000px;
}

#plane h2{
    margin-top: 250px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 50px;
}

/* bottoni del plane  */
#plane input{
    margin-right: 5px;
}
#plane .radio-button{
    margin-right: 20px;
    display: inline-block;
}
/*  */

.fa-arrow-down:active{
    color: #0061ff ;
}


.plane-foot-content{
    height: 230px;
}

.plane-foot-content h3,
.plane-foot-content p,
.plane-foot-content .button{
    margin-top: 30px;
    display: inline-block;
}

.plane-foot-content h4{
    margin-top: 20px;
}

.plane-foot-content h3,
.plane-foot-content p,
.plane-foot-content h4{
    margin-left: 30px;
}

.plane-foot-content .button{
    margin-right: 30px;
    padding: 10px 70px;
}

#promotion{
    margin-top: 150px;
    position: relative;
}

#promotion,
#immagine-partner{
    height: 550px;
}

#promotion-text{
    width: 600px;
    position: absolute;
    top: 50px;
}

#promotion p{
    margin-top: 20px;
}

#immagine-partner{
    width: 600px;
    background-image:url(../img/partner.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 60px;
}

#immagine-partner,
#promotion-text{
    display: inline-block;
}

#promotion-button{
    border: 1px solid black;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.operations-text span{
    text-decoration: underline;
}

#middle-boxed{
    width: 100%;
}

#affiliazioni-a{
    text-decoration: underline;
    color: #0061ff;
}

.box{
    width: 50%;
    height: 250px;
}
.box img{
    transform: scale(0.5);
}


.side-column{
    width: 30%;
}


.box:nth-of-type(1){
    background-color: rgb(124, 192, 103);
    

}

.box:nth-of-type(2){
    background-color: #4e0000;
}
.box:nth-of-type(1) img,
.box:nth-of-type(2) img,
.box:nth-of-type(3) img,
.box:nth-of-type(4) img{
    filter: invert(1);

}
.box:nth-of-type(3){
    background-color: rgb(25, 110, 207);
}
.box:nth-of-type(4){
    background-color: rgb(224, 0, 0);
}

.box>img{
    width: 100%;
    height: 100%;   
}

#middle-column{
    width: 40%;
    padding: 50px 30px;
}

#middle-column hr{
    margin-top: 40px;
}
#middle-column p{
    margin: 50px 0;W
}